
.customerVoicebox {
    height: 100%;
    padding: 80px 0;
    background-color: #fff;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customerVoicebox p {
    margin: 0;
    padding: 0;
}

.cvDescription {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.customerVoice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 1080px;
    padding-top: 20px;
    margin: 0 auto;
}

.customerVoiceContents {
    max-width: 320px;
    box-shadow: 15px 15px 30px 0 rgba(0, 142, 193, 0.30);
    gap: 10px;    
}

.customerVoicedetail {
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    background: #fff;
}

.cvImg img {
    width: 100%;
}

.cvLabel {
    display: flex;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #008EC1;
    font-size: 0.8em;
    color: #fff;
}

.cvComment {
    font-weight: bold;
}

.cvCta {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.cvButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 520px;
    min-height: 70px;
    color: #fff;
    border-radius: 3px;
    background: linear-gradient(to right, #14b2dd 0%, #008ec1 100%);
}

.cvButton::after {
    content: "";
    width: 8px;
    height: 14px;
    background-image: url(/public/arrow_white.svg);
}