header img {
  width: 150px;
}

header {
  display: flex;
  height: 75px;
  padding: 0 10px;
}


.navi-logo-list {
  display: flex;
  padding: 0 10px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

header ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
}

header li {
  display: flex;
  align-items: center;
  min-width: 95px;
  gap: 10px;
}

header li.dropdown::after {
  content: "";
  display: flex;
  width:7px;
  height:14px;
  margin-right: 15px;
  background-image: url(/public/arrow_gray.svg);
  transform: rotate(90deg);
}

nav {
  width: 100%;
}

.nav-cta {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.tel {
  display: grid;
  width: 180px;
  justify-content: center;
  font-size: 9px;
}

.request {
  display: flex;
  border-radius: 2px;
  background: linear-gradient(0deg, rgba(244, 129, 113, 0.80) 0%, rgba(244, 129, 113, 0.80) 100%), #E5533E;
  width: 110px;
  height: 35px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.contact {
  display: flex;
  border-radius: 2px;
  border: solid 1px #E5533E;
  width: 110px;
  height: 35px;
  justify-content: center;
  align-items: center;
  color: #E5533E;
}