.usefulInfo {
    padding: 80px 0;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uiDescription {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.uiList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    max-width: 1080px;
    padding-top: 20px;
    margin: 0 auto;
}

.uiContents {
    max-width: 320px;
    box-shadow: 15px 15px 30px 0 rgba(0, 142, 193, 0.30);
    gap: 10px;    
}

.uiImg img {
    width: 100%;
    max-height: 160px;
}

.uiTitle {
    padding: 25px 25px 0 25px;
    font-weight: bold;
}

.uiText {
    padding: 15px 25px 25px 25px;
}

.uiCta {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.uiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 520px;
    min-height: 70px;
    color: #fff;
    border-radius: 3px;
    background: linear-gradient(to right, #14b2dd 0%, #008ec1 100%);
}

.uiButton::after {
    content: "";
    width: 8px;
    height: 14px;
    background-image: url(/public/arrow_white.svg);
}








